.jumbotron{
	color: white;
	background-color: black;
	margin-top: 55px;
}

footer{
	background-color: black;
	color: white;
	margin-top: 20px;
	margin-bottom: 0px;
	padding: 10px 10px 0 10px;
}

address{
	text-align: center;
}

.btn-reserve{
	width: 100%;
	color: white;
	background-color: blue;
	border-radius: 0px;
}

.card-cuidad{
	padding: 5px 10px 5px 10px;
	flex: 1 350px;
	text-align: justify;

}

.add-footer{
	margin-right: 10px;
}

img{
	margin-bottom: 2rem;
	align-items: center;
}

.table-responsive{
	padding-top: 10px;
}